body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#e85756, #fff159);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  margin-bottom: 5em;
}

.gif-container {
  margin: 0 auto;
  width: 85vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 7px solid #551a8b;
}
.btn-row {
  text-align: center;
}
.btn-row button {
  margin: 1em;
  background: navy;
  color: #fff;
  border: none;
  padding: 0.75em;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
